# The following dependencies have to be installed using the command "pip install -r requirements.txt", means it will take the requirements file to know the dependencies, the following is the list of libraries:
openai
streamlit
python-dotenv
PyPDF2
st-pages
chromadb
Matplotlib
plotly
azure-cognitiveservices-speech
google-generativeai
python-dotenv